body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.bg-container {
    background-size: cover;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    
}

.game-description {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.heading {
    color: white;
    font-family: "Roboto";
    font-size: 34px;
    font-weight: bold;
}

.user-input {
    text-align: center;
    color: #f3f5f7;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
    width: 300px;
    padding: 10px;
    background-color: transparent;
    border-radius: 2px;
    border-color: white;
}

.game-result {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.check-guess {
    width: 170px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.clock-heading{
    color: white;
    text-align: center;
}

.clocks-style{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.clock {
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
}

.clock h2 {
    margin-top: 0;
}

.clock span {
    font-size: 24px;
}